<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Rotom</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="header">
        <img src="title.png" alt="title" style="margin: 15px;margin-left: 65px;height: 40px;">
        <div class="menu">
            <span style="font-size:25px;">&#9776;</span>
        </div>
    </div>
    <div class="frontpage">
        <h1 style="float:left;color: aliceblue;margin-top:110px ;color: black;font-size: 65px;font-family:Arial, Helvetica, sans-serif;margin-left: 150px;">
            Ultimate<br>Pokedex for<br>your Journey.<br>
            <div class="search">
                find pokemon
            </div>
        </h1>
        
        <img src="pokedex.png" alt="dex" style="float: right;margin-right: 140px;height: 600px;">
        
    </div>
    
    <div class="body">
        
    </div>
</body>
</html> 