*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back-bg{
    background-color: #0f0f0f !important;
}


.nav-brand img{
    filter:invert(1);
}
.navbar-toggler, .navbar-toggler:active {
    border: none !important;
    border-radius: 1rem;
}
.my-nav{
    background-color: #0f0f0f !important;
    padding: 0.8rem 2rem !important;
    margin-bottom: 1rem;
}




.hero{
    height: 33vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color:#0f0f0f;
    padding-left: 7%;
}
.heading h1{
    display: block;
    font-size: 3rem;    
    font-weight: bolder;
    color: white;
    margin-top: 0;
}





.list-pok h1{
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    color: white;
    float: left;
}
.body{
    background-color:#0f0f0f;
    margin-top: 0rem;
    padding: 20px;
    padding-top: 2.5rem;
}

.row a{
    text-decoration: none;
}

.card-poke{
    width: 100%;
    border: 2px solid grey !important;
    background: #0A0A0A;
    color: #222;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    margin: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.1s ease-out;
    height: 18rem !important;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.card-poke:hover{
    border: 0px solid grey !important; 
    box-shadow: #222 3px 0 30px;
    border-radius: 1.2rem;
    color: rgb(0, 0, 0);    
    scale: 1.08;
}

.poke-img{
    height: 80%;
    width: 100%;
    display: grid;
    place-items: center;
}
.poke-name{
    height: 20%;
    width: 100%;
}
.poke-img img{
    height: 10rem;
    width: 90%;
}

.desc{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 1rem;
    color: #ffffff;
    font-size: clamp(2rem, 2.5vw, 2rem); 
}
